.Choose {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 2vmax;
}

.Choose_Slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.Choose_Cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1px solid black;
  object-fit: contain;
  background: inherit;
  font-size: inherit;
}

.Choose_Picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: 0;
  flex: 1;
}

.Choose_Cover > div {
  width: 100%;
}

.Choose_Title {
  margin: 0.2em;
  font-size: 1em;
}

.Choose_Author {
  margin: 0.2em;
  font-size: 0.8em;
}

.Choose .AriaMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.33);
  transform-origin: left top;
  transition: transform 1s;
}

.Choose .AriaMenuButton:hover {
  transform: scale(1);
}

.Choose .AriaMenuButton-trigger {
  opacity: 0.5;
  transition: opacity 1s;
}

.Choose .AriaMenuButton-trigger:hover, .Choose .AriaMenuButton-trigger:focus {
  opacity: 1;
}

