.Controls {
  font-size: 1rem;
}

.Controls h1 {
  font-size: 1em;
}

.Controls label {
  display: block;
  padding: 0.5em;
  vertical-align: middle;
}

.Controls input, .Controls select, .Controls button {
  vertical-align: middle;
}
