#Find {
  font-size: 2vmin;
}

#Find-results { 
  list-style: none;
  padding-left: 0.0em;
  margin: 0 auto;
  text-align: center;
}

#Find-results {
  max-width: calc(100vw - 0.4em);
}

#Find-results li {
  margin: 0.1em;
  line-height: 1em;
  width: 40em;
  border: 1px solid black;
  text-align: left;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
}

#Find-results button {
  font-size: inherit;
}

#Find-results button {
  text-align: left;
  padding: 0.1em;
  float: left;
  margin-right: 0.1em;
}

#Find-results h1 {
  line-height: 1.2em;
  overflow: hidden;
}

#Find-results h1 {
  font-size: 1.8em;
  height: 2.2em;
  margin: 0;
}

#Find-results img.cover {
  width: 6.25em;
  height: 6.25em;
  display: block;
  object-fit: contain;
}


#Find-results img.cover {
  float: left;
  max-width: 25vw;
  margin-right: 0.2em;
}

#Find-results p.author {
  font-size: 0.8em;
  overflow: hidden;
  margin: 0;
}

#Find-results p.author {
  height: 1.1em;
  display: inline-block;
  width: 10em;
  vertical-align: middle;
}

#Find-results img.stars {
  width: 3em;
  height: 1em;
  margin-right: 0.2em;
  max-width: 18vmin;
  max-height: 6vmin;
  vertical-align: middle;
}

#Find-results img.reviewed {
  width: 1em;
  height: 1em;
  max-width: 6vmin;
  max-height: 6vmin;
  vertical-align: middle;
}

#Find-results img.caution {
  width: 1em;
  height: 1em;
  max-width: 6vmin;
  max-height: 6vmin;
  vertical-align: middle;
}

#Find-results p.pages {
  font-size: 0.7em;
  margin: 0;
}

#Find-form {
  margin: 0 auto;
  text-align: center;
}

#Find-form input, #Find-form select {
  margin: 0.15em 0.25em;
  font-size: inherit;
}

#Find-form label {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

#Find-form input[type='search'] {
  border: 0.1em solid #B2B2B2;
  border-radius: 0.5em;
  display: inline-block;
  color: #333;
  padding: 0.15em 0.3em;
  height: 1.5em;
  width: 16em;
  transition: all 0.25s ease-in;
  font-size: inherit;
}

#Find-form select {
  margin: 0.15em 0.25em;
}

