.loading {
  border: .25em solid rgba(0, 0, 0, .1);
  border-top: .25em solid #4b9cd3;
  border-radius: 100%;
  animation: rot 1s infinite linear;
  width: 70vmin;
  height: 70vmin;
}
 
@keyframes rot {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}
