#book-page {
  font-size: calc(1*5vmin);
  line-height: 1.2em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
.text-only #book-page {
}
#book-page.picture-only {
}
button {
  font-size: 2.2vmin;
  bottom: 0.5vmin;
  position: absolute;
}
.buttons-normal button {
  height: 8vmin;;
  width: 12vmin;
}
.buttons-medium button {
  height: 100vh;
  width: 6vmin;
}
.buttons-large button {
  height: 100vh;
  width: 12vmin;
}
.buttons-none button {
  display: none;
}

button#back {
  left: 0.5vmin;
}

button#next {
  right: 0.5vmin;
}

button img {
  display: block;
  width: 1.5em;
  margin: auto;
}

.buttons-large button img {
  width: 8vmin;
}

#picture {
  width: 100vw;
  height: calc(100vh - 3 * 1.2em);
  object-fit: contain;
  margin: 0;
}
.title-page #picture {
  height: calc(100vh - 2.4em) !important;
}
.title-page.buttons-normal #picture {
  width: calc(100vw);
}
.title-page.buttons-medium #picture {
  width: calc(100vw - 13vmin);
  height: calc(100vh - 4em);
}

.buttons-normal #picture {
  height: calc(100vh - 3 * 1.2em - 8vmin);
}e

.buttons-none #picture {
  width: 100vw;
}
.buttons-medium #picture {
  width: calc(100vw - 12vmin);
}
.buttons-large #picture {
  width: calc(100vw - 24vmin);
}
.text-only #picture {
  display: none;
}

.picture-only #picture {
  height: 100vh;
}
.picture-only.buttons-normal #picture {
  height: calc(100vh - 8vmin);
}

.title-page #title {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0.1em auto;
  height: 1.2em;
  overflow: hidden;
}
.title-page #author {
  font-size: 0.6em;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
  margin: 0.1em auto;
}

#text {
  text-align: center;
  overflow: hidden;
  height: calc(3*1.2em);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.buttons-normal #text {
  bottom: calc(8vmin - 0.2em);
}
.buttons-medium #text {
  width: calc(100vw - 2*6vmin);
  left: 6vmin;
}
.buttons-large #text {
  width: calc(100vw - 24vmin);
  left: 12vmin;
}

.picture-only #text {
  display: none;
}
.text-only #text {
}

#page-number {
  position: absolute;
  font-size: 4vmin;
  line-height: 1.2em;
  top: 0.5em;
}
.buttons-normal #page-number,.buttons-none #page-number {
  right: 0.5em;
}
.buttons-medium #page-number {
  right: 12vmin;
}
.buttons-large #page-number {
  right: 10vmin;
}
.controls label {
  display: block;
  padding: 0.5em;
}
